*{
  margin: 0;
  padding: 0;
  outline: none;
  background: black;
  color: white;
}


#folder{
  background: rgba(45, 5, 0, 0.46);
  width: 100%;
  height: 100%;
  color: lightgreen;
  position: absolute;
  top: 0;
  left: 0;

  .grid{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-gap: 20px;
    margin: 1.5% 2.5%;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 10%;
    text-align: center;
  }
}

@media (max-width: 400px) {
  #folder{
    width: 100%;
    height: auto;
    .grid{
      max-width: 100%;
      height: auto;
      display: grid;
      padding: 10px;
      grid-gap: 30px;
      grid-template-columns: 45% 45%;
      grid-auto-rows: 200px;
    }
  }
}
