*{
  margin: 0;
  padding: 0;
  outline: none;
  background: black;
  color: white;
}


#folder{
  background: rgba(45, 5, 0, 0.46);
  width: 100%;
  height: 100vh;
  color: lightgreen;
  position: absolute;
  top: 0;
  left: 0;

  .grid{
    width: 95%;
    height: 95%;
    display: grid;
    grid-gap: 5%;
    margin: 1.5% 2.5%;
    grid-template-columns: auto auto auto auto auto;
    grid-auto-rows: 10%;
  }
}

@media (max-width: 400px) {
  #folder{
    .grid{
      position: absolute;
      width: 85%;
      height: 85%;
      display: grid;
      grid-gap: 5%;
      top: 7%;
      left: 5%;
      grid-template-columns: auto auto auto;
      grid-auto-rows: 10%;
    }
  }
}
